---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: chatbot
  namespace: matrix-helpdesk-chatbot
  labels:
    app.kubernetes.io/name: chatbot
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: chatbot
  template:
    metadata:
      labels:
        app.kubernetes.io/name: chatbot
      annotations:
        prometheus.io/scrape: 'true'
    spec:
      containers:
        - name: chatbot
          image: ghcr.io/dannixon/matrix-openrouter-helpdesk:7e86cabb8ecf337eafbd75b45a3aefbacd22b062
          env:
            - name: MATRIX_HOMESERVER_URL
              value: https://matrix.org
            - name: MATRIX_USERNAME
              value: makerspace
            - name: OPENROUTER_MODEL
              value: openai/gpt-5-mini:online
            - name: SYSTEM_PROMPT
              value: "Using only information taken from https://makerspace.org.uk and https://wiki.makerspace.org.uk, answer the user's question about Maker Space. Do not offer follow up options, end communication once you have provided the information. When answering, you may refer to Maker Space as 'we'. If you cannot find appropriate information to answer the question, suggest the user asks other members and updates the wiki once they find the answer."
            - name: REPLY_TEMPLATE_FILE
              value: /config/reply.md
            - name: MATRIX_SESSION_PATH
              value: /data/matrix_session
          envFrom:
            - secretRef:
                name: chatbot-secrets
          ports:
            - name: metrics
              containerPort: 9090
              protocol: TCP
          volumeMounts:
            - mountPath: /config
              name: config
            - mountPath: /data
              name: matrix-state
      volumes:
        - name: config
          configMap:
            name: reply-template
        - name: matrix-state
          persistentVolumeClaim:
            claimName: matrix-state

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: matrix-state
  namespace: matrix-helpdesk-chatbot
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: reply-template
  namespace: matrix-helpdesk-chatbot
data:
  reply.md: |-
    {{ response }}

    ---
    [AI generated](https://github.com/DanNixon/makerspace-apps/tree/main/apps/matrix-helpdesk-chatbot). May chat utter wibble (but probably no more than our members do anyway).

---
apiVersion: v1
kind: Secret
metadata:
  name: chatbot-secrets
  namespace: matrix-helpdesk-chatbot
type: Opaque
stringData:
  MATRIX_PASSWORD: "ref+sops://src/secrets.yml#/matrix_password"
  OPENROUTER_API_KEY: "ref+sops://src/secrets.yml#/openrouter_api_key"
